.web-pptx{
	.swiper {
		width: 480px;
		height: 270px;
		.swiper-slide {
			background: url("https://assets.mindshow.fun/themes/greenblue_countryside_vplus_20230720/Cover-bg.jpg");
			background-size: 100% 100%;
			position: relative;
			.cover-slide{
				width: 80%;
				margin: 0 auto;
				position: absolute;
				top: 40%;
				left: 10%;
			}
			.directory-slide{
				padding: 9%;
				box-sizing: border-box;
				h2{
					margin-top: 0;
				}
				>div:last-child{
					display: flex;
					flex-direction: column;
				}
			}

			.common-slide {
				padding: 9%;
				h2 {
					margin-top: 0
				}
			}


			.slide-title{
				//position: absolute;
				//top: 10%;
				//left: 10%;
				margin-left: 10%;
				margin-top: 10%;
			}
			.slide-list-title{
				margin-top: 2%;
				margin-left: 10%;
				color: #333;
				font-size: 12px;
				line-height: 20px;
			}
		}
	}
}
