.web-pptx{
	.swiper {
		width: 640px;
		height: 360px;
		position: relative;
		.swiper-slide {
			background: url("./../../statics/images/cover_bg.png");
			background-size: 100% 100%;
			position: relative;
			.cover-slide{
				width: 80%;
				margin: 0 auto;
				position: absolute;
				top: 40%;
				left: 10%;
			}

			.common-slide {
				.common{
					position: relative;
					padding: 5%;
					box-sizing: border-box;
					h2 {
						margin-top: 0
					}
					&-content{
						width: 60%;
					}
					&-list{
						margin-top: 5px;
						width: 60%;
						padding-left: 20px;
						box-sizing: border-box;
						font-size: 4px;
					}
					&-img{
						position: absolute;
						left: 60%;
						top: 0;
						width: 40%;
						height: 360px;
						object-fit: fill;
					}
				}
			}
		}

		.slide-navigator{
			z-index: 2;
			width: 100%;
			position: absolute;
			bottom: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			>div.navigator-arrow{
				text-align: center;
				width: 40px;
				height: 40px;
				line-height: 40px;
				cursor: pointer;
				border-radius: 5px;
				background-color: gray;
				color: #fff;
				opacity: .7;
			}
			&-left{
			}
			&-pagination{
				text-align: center;
				margin: 0 40px;
				width: 70px;
				height: 20px;
				border-radius: 5px;
				line-height: 20px;
				font-size: 14px;
				font-weight: 700;
				background-color: #383838;
				color: white;
				opacity: .7;
			}

			&-right{

			}
		}
	}
}
