.md{
	display: flex;
	background-color: #f6f8fa;
	min-height: 100vh;
	padding: 20px;
	box-sizing: border-box;

	&-left{
		width: 50%;
		white-space: pre-wrap;
		word-wrap: break-word;
		border-right: 1px solid #f6f8fa;
		box-shadow: 2px 0px 0px 0px #eee;
		position: relative;

		.btn{
			position: absolute;
			top: 50px;
			right: 50px;
			cursor: pointer;
			color: #fff;
			background-color: #1677ff;
			box-shadow: 0 2px 0 rgba(5,145,255,.1);
			font-size: 14px;
			//height: 32px;
			padding: 4px 15px;
			border-radius: 6px;
			&:hover{
				color: white;
			}
		}

		.tree{
			img{
				width: 100px;
				height: 60px;
			}
			&-item{
				display: flex;
				align-items: center;
				box-sizing: border-box;
				margin-bottom: 5px;
				&-line{
					//background-color: #D0CFCD;
					//width: 2px;
					//height: 100%;
					//min-height: 24px;
				}
				&-point{
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: #D0CFCD;
					margin-right: 8px;
				}
				&-content{
					min-height: 24px;
					cursor: text;
					border: none;
					outline: none
				}
			}
		}
	}
	&-right{
		width: 50%;
		padding-left: 20px;
		box-sizing: border-box;
		overflow-x: hidden;
	}
}
